* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  display: inline-block;
}
.card-img-top {
  pointer-events: none;
}
